// Variables
$text-color: #333333;
$color-white: #ffffff;
$color-purple: #6F3F87;
$color-light-blue: #008CAA;
$color-dark-blue: #173145;
$color-light-brown: #D5995F;

$background-color: $color-white;
$gradient-color-start: rgba(213, 153, 95, 1);
$gradient-color-end: rgba(213, 153, 95, 0);

$font-size-base: 16px;
$line-height-base: 26px;
$font-size-desktop: 20px;
$line-height-desktop: 30px;
$font-family-base: 'FS Me', sans-serif;
$font-weight-base: 400;
$font-weight-bold: 700;
